@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

body {
  font-family: 'Manrope',   serif;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

// Reset styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Media elements
img,
picture,
video,
canvas{
  overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
  max-width: 100%;
  
}

// Form elements
input,
button,
textarea,
select {
  font: inherit;
}

// Typography
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}