@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

// Variables
$font-family-base: 'Manrope', serif;
$line-height-base: 1.5;

// Mixins
@mixin icon-base {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

// Base styles
body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}

// Reset styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Media elements
img,
picture,
video,
canvas {
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: middle;
  max-width: 100%;
}

// Form elements
input,
button,
textarea,
select {
  font: inherit;
}

// Typography
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.icon {
  &-heart {
    @include icon-base;
    background-image: url('assets/svg/icons/favorite.svg');
  }

  &-user {
    @include icon-base;
    background-image: url('assets/svg/icons/user.svg');
  }

  &-cart {
    @include icon-base;
    background-image: url('assets/svg/icons/cart.svg');
  }

  &-shopping {
    @include icon-base;
    background-image: url('assets/svg/icons/shopping.svg');
  }

  &-bars {
    @include icon-base;
    background-image: url('assets/svg/icons/bars.svg');
  }

  &-compass {
    @include icon-base;
    background-image: url('assets/svg/icons/compass.svg');
  }

  &-search {
    @include icon-base;
    background-image: url('assets/svg/icons/search.svg');
  }
}

.thumbnail .keen-slider__slide {
  @apply tw-rounded-2xl tw-border tw-border-slate-300;
}

.thumbnail .keen-slider__slide.active {
  @apply tw-border tw-border-ui-bg;
}