.size-selector {
  @apply tw-w-full;
}

.section-header {
  @apply tw-flex tw-justify-between tw-items-center tw-mb-4;

  .title {
    @apply tw-text-lg tw-font-medium;
  }

  .guide-btn {
    @apply tw-text-sm tw-text-gray-500 
           hover:tw-text-gray-700 
           tw-transition-colors;
  }
}

.size-options {
  @apply tw-flex tw-flex-wrap tw-gap-2 tw-mb-3;
}

.size-btn {
  @apply tw-h-12 tw-w-12 
         tw-font-medium 
         tw-rounded-full 
         tw-border tw-border-gray-300 
         tw-text-gray-500 
         hover:tw-border-gray-800 
         tw-transition-colors 
         tw-relative;

  &.active {
    @apply tw-border-ui-bg tw-text-ui-black;
  }

  &.out-of-stock {
    @apply tw-opacity-50 
           tw-cursor-not-allowed 
           hover:tw-border-gray-300 
           tw-relative;
    
    &::before {
      content: '';
      @apply tw-absolute tw-w-full tw-h-[1px] 
             tw-bg-gray-400 tw-top-1/2 tw-left-1/2;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}