<div>
  <div class="product-container">
    <div class="product-gallery">
      <app-variant-banner [product]="product()" [variantId]="selectedVariantId()" />
    </div>

    <div class="product-info">
      <div class="product-header">
        <app-product-header [product]="product()" />
      </div>

      <div class="size-selector">
        <app-variant-size [product]="product()" [variantId]="selectedVariantId()" />
      </div>

      <div class="color-selector">
        <app-variant-color [product]="product()" [selectedVariantId]="selectedVariantId()" />
      </div>

      <div class="product-details">
        @for(detail of productDetails; track detail.title) {
        <div class="detail-column">
          <span>{{ detail.title }}</span>
          <i class="fa-solid {{ detail.icon }}"></i>
        </div>
        }
      </div>

      <div class="product-footer">
        <app-quantity-selector [product]="product()" />
      </div>
    </div>
  </div>

  <div class="description">
    <app-description />
  </div>

  <div class="comment">
    <app-comment [listComment]="product()?.productComments" />
  </div>

  <div class="random">
    <app-random-products />
  </div>
</div>