<header class="order-header">
  <h1 class="title">Siparişlerim</h1>
  <div class="controls-container">
    <div class="search-container">
      <label for="searchInput" class="tw-sr-only">Ürün veya Marka Ara</label>
      <input id="searchInput" class="search-input" placeholder="Ürün ismi veya Marka ara">
      <i class="search-icon fa-solid fa-magnifying-glass" aria-hidden="true"></i>
    </div>
    <div class="filter-dropdown">
      <app-dropdown
        [options]="filterOptions"
        headerBgColor="tw-bg-white"
        headerBorderWidth="tw-border"
        fontWeight="tw-font-semibold"
        headerRadius="tw-rounded-lg"
        headerBorderColor="tw-border-gray-200">
      </app-dropdown>
    </div>
  </div>
</header>