<div class="slider-header" [class]="marginClass">
  <div class="title-section" [class]="size()">
    @if (icon() !== 'none') {
    <i class="fa-solid {{ icon() }} icon"></i>
    }
    <h2 class="slider-title">{{ title() }}</h2>
  </div>
  <div class="nav-buttons">
    <button class="nav-button prev" (click)="prev.emit()">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="nav-button next" (click)="next.emit()">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div>