<div class="no-results">
    <div class="no-results-content">
        <div class="icon-container">
            <i class="fa-solid fa-box-open tw-text-5xl tw-text-gray-400"></i>
        </div>
        <h2 class="title">Üzgünüz, aradığınız kriterlere uygun ürün bulunamadı</h2>
        <p class="description">Daha iyi sonuçlar için şunları deneyebilirsiniz:</p>
        <ul class="suggestions">
            <li><i class="fa-solid fa-circle-check"></i> Farklı filtreler kullanın</li>
            <li><i class="fa-solid fa-circle-check"></i> Fiyat aralığını genişletin</li>
            <li><i class="fa-solid fa-circle-check"></i> Daha az filtre seçin</li>
        </ul>
    </div>
</div>