<form #brandForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Marka Yaz</mat-label>
        <input matInput 
               name="name" 
               [(ngModel)]="createBrand().name"
               #name="ngModel"
               required
               minlength="2"
               maxlength="50">
        
        @if(name.invalid && (name.dirty || name.touched)) {
            <mat-error>
                @if(name.errors?.['required']) {
                    Marka adı zorunludur
                } @else if(name.errors?.['minlength']) {
                    Marka adı en az 2 karakter olmalıdır
                } @else if(name.errors?.['maxlength']) {
                    Marka adı en fazla 50 karakter olmalıdır
                }
            </mat-error>
        }
    </mat-form-field>
    
    <button type="submit" 
            mat-stroked-button 
            [disabled]="!brandForm.valid"
            class="ml-2">
        + Ekle
    </button>
</form>