<h1 class="tw-text-2xl tw-font-medium tw-mb-6 tw-text-gray-800" mat-dialog-title>Marka Ekle</h1>

<mat-dialog-content>
    <form #brandForm="ngForm" (ngSubmit)="onSubmit()">
        <p>Lütfen marka adını giriniz</p>
        <div class="tw-mt-3">
            <mat-form-field>
                <mat-label>Marka</mat-label>
                <input matInput name="name" [(ngModel)]="createBrand().name" #name="ngModel" required minlength="2"
                    maxlength="50" placeholder="Marka adı giriniz...">

                @if(name.invalid && (name.dirty || name.touched)) {
                <mat-error>
                    @if(name.errors?.['minlength']) {
                    En az 2 karakter olmalıdır
                    } @else if(name.errors?.['maxlength']) {
                    En fazla 50 karakter olmalıdır
                    }
                </mat-error>
                }
            </mat-form-field>
        </div>


    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button type="submit" cdkFocusInitial>Ekle</button>
</mat-dialog-actions>