<section 
    class="banner-container" 
    [class.animate]="isVisible"
    aria-label="Ana Banner">
    <div class="banner-left" role="presentation">
        <figure class="banner-image-container">
            <img 
                ngSrc="assets/images/ui/shoe_text2.png" 
                height="300" 
                width="650" 
                alt="Steprella Ayakkabı Koleksiyonu"
                priority>
        </figure>

        <div class="banner-content">
            <div class="banner-text">
                <p class="banner-description">
                    Her ihtiyaca ve tarza uygun şık ve rahat ayakkabılarımızı keşfedin.
                </p>
            </div>

            <div class="button-container">
                <a 
                    routerLink="/products" 
                    class="banner-button"
                    role="button"
                    aria-label="Alışverişe Başla">
                    Şimdi Alışveriş Yap
                </a>
            </div>
        </div>
    </div>

    <div class="banner-right" role="presentation">
        <img 
            ngSrc="assets/images/ui/shoe.png" 
            alt="Vitrin Ayakkabı Görseli" 
            class="banner-image" 
            height="590" 
            width="700"
            priority>
    </div>
</section>