<div class="banner-container">
    <div class="banner-left">
        <div>
            <img ngSrc="assets/images/ui/shoe_text2.png" height="300" width="650" priority>
        </div>

        <div class="banner-content">
            <div class="banner-text">
                <p class="banner-description">
                    Her ihtiyaca ve tarza uygun şık ve rahat ayakkabılarımızı keşfedin.
                </p>
            </div>

            <div>
                <button class="banner-button">
                    Şimdi Alışveriş Yap
                </button>
            </div>
        </div>
    </div>

    <div class="banner-right">
        <img ngSrc="assets/images/ui/shoe.png" alt="Shoe" class="banner-image" height="590" width="700" priority>
    </div>
</div>