<footer class="footer" role="contentinfo">
  <div class="footer-content">
    <div class="footer-main">
      <div class="footer-left">
        <h2 class="interest-text">İLGİNİZİ <br>ÇEKİYOR MU?</h2>
        <a class="shopping-link">
          Alışverişe Başla <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>

      <div class="footer-right">
        <div class="brand-section">
          <img ngSrc="assets/images/common/logo_light.png" alt="Sneaker Logo" class="logo" height="32" width="120">
          <nav class="nav-menu" aria-label="Footer Navigasyon">
            @for(link of navigationLinks; track link.title) {
              <a [routerLink]="link.path" class="nav-link">{{link.title}}</a>
            }
          </nav>
        </div>
        <div class="social-links" role="list" aria-label="Sosyal Medya Bağlantıları">
          @for(social of socialLinks; track social.icon) {
            <a class="social-link" target="_blank">
              <i class="fa-brands fa-{{social.icon}}" aria-hidden="true"></i>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</footer>
