<div class="order-items">
  @for (item of orderItem(); track item.id) {
  <div class="item">
    <div class="item-image">
      @if (item.product.productImages.length > 0) {
      <img ngSrc="{{item.product.productImages[0].path}}" width="128" height="128" loading="lazy">
      }
    </div>

    <div class="item-details">
      <h3 class="item-name">
        {{item.product.brandName}} {{item.product.shoeModelName}}
      </h3>
      <p class="item-specs">
        Renk: {{item.product.colorName}}
      </p>
      <p class="item-specs">
        Beden: {{item.sizeValue}}
      </p>
      <p class="item-specs">
        Kullanım Alanı: {{item.product.usageAreaName}}
      </p>
    </div>

    <span class="item-quantity">
      {{item.quantity}} Adet
    </span>

    <div class="item-price">
      {{item.totalPrice | currency:'TRY':'symbol-narrow':'1.2-2'}}
    </div>
  </div>
  }
</div>