<div class="order-items">
  @for (item of orderItem(); track item.id) {
  <div class="item">
    <div class="item-image">
      @if (item.variant.productImages.length > 0) {
      <img ngSrc="{{item.variant.productImages[0].path}}" width="128" height="128" loading="lazy">
      }
    </div>

    <div class="item-details">
      <h3 class="item-name">
        {{item.variant.brandName}} {{item.variant.shoeModelName}}
      </h3>
      <p class="item-specs">
        {{item.variant.colorName}} - Beden: {{item.sizeValue}}
      </p>
      <p class="item-specs">
        {{item.variant.materialName}} | {{item.variant.usageAreaName}}
      </p>
    </div>

    <span class="item-quantity">
      {{item.quantity}} Adet
    </span>

    <div class="item-price">
      {{item.totalPrice | currency:'TRY':'symbol-narrow':'1.2-2'}}
    </div>
  </div>
  }
</div>