<form #fileForm="ngForm" (ngSubmit)="onUpload()">
        <input type="file" accept="image/*" #fileInput name="files" (change)="onFileSelected($event)" multiple>

        <button type="submit" [disabled]="!selectedFiles().length">
                Ekle
        </button>
</form>

@if(selectedFiles().length > 0) {
<table class="table">
        <thead>
                <tr>
                        <th>Ad</th>
                        <th>Boyut</th>
                        <th>İşlem</th>
                </tr>
        </thead>
        <tbody>
                @for(file of selectedFiles(); track file.name; let i = $index) {
                <tr>
                        <td>{{ file.name | titlecase }}</td>
                        <td>{{ file.size/1024/1024 | number:'.2' }} MB</td>
                        <td>
                                <button type="button" class="btn btn-dark btn-xs" (click)="removePhoto(i)">
                                        Kaldır
                                </button>
                        </td>
                </tr>
                }
        </tbody>
</table>
}