<form #fileForm="ngForm" (ngSubmit)="onUpload()">
    <div class="file-upload-container">
        <div class="upload-button" (click)="triggerFileInput()">
            <div class="upload-button-content">
                <mat-icon>cloud_upload</mat-icon>
                <span class="upload-text">Fotoğraf Yükle</span>
            </div>
        </div>

        <input class="tw-hidden" type="file" accept="image/*" #fileInput name="files" (change)="onFileSelected($event)" multiple>

        @if(selectedFiles().length > 0) {
        <div class="file-list">
            @for(file of selectedFiles(); track file.name; let i = $index) {
            <div class="file-item">
                <div class="file-info">
                    <div class="file-icon-container">
                        <mat-icon class="tw-text-sm">insert_drive_file</mat-icon>
                    </div>
                    <div class="file-details">
                        <div class="file-name" title="{{ file.name }}">{{ file.name }}</div>
                        <div class="file-size">{{ file.size/1024/1024 | number:'.2' }} MB</div>
                    </div>
                </div>
                <mat-icon class="tw-text-red-400 tw-cursor-pointer" (click)="removePhoto(i)">cancel</mat-icon>
            </div>
            }
        </div>
        }

        <div class="button-container">
            <button type="submit" [disabled]="!selectedFiles().length" class="submit-button">
                Yükle
            </button>
        </div>
    </div>
</form>