@if (images().length > 0) {
  <app-thumbnails-slider [forceUpdate]="variantId()">
    <div class="keen-slider slider" slider>
      @for (image of images(); track image.id) {
        <div class="keen-slider__slide">
          <div class="image-container">
            <img 
              ngSrc="{{image.path}}" 
              [alt]="'Product image ' + ($index + 1)"
              loading="eager"
              decoding="sync"
              fill
            >
          </div>
        </div>
      }
    </div>

    <div class="keen-slider thumbnail" thumbnailSlider>
      @for (image of images(); track image.id) {
        <div class="keen-slider__slide">
          <div class="image-container">
            <img 
              ngSrc="{{image.path}}"
              [alt]="'Product thumbnail ' + ($index + 1)"
              loading="eager"
              decoding="sync"
              fill
            >
          </div>
        </div>
      }
    </div>
  </app-thumbnails-slider>
}