<div class="sidebar-overlay" [class.open]="isOpen()" role="presentation"></div>
<aside class="sidebar" [class.open]="isOpen()" role="complementary">
  <header class="sidebar-header">
    <img ngSrc="assets/images/common/logo_dark.png" alt="Logo" width="120" height="60" routerLink="/">
    <button class="close-btn" (click)="toggleSidebar()" aria-label="Menüyü Kapat">
      <i class="fa-solid fa-xmark tw-text-sm" aria-hidden="true"></i>
    </button>
  </header>

  <nav class="categories" role="navigation" aria-label="Mobil Kategori Menüsü">
    <ul class="main-categories">
      @for (category of categoryList(); track category.id) {
      <li>
        <a (click)="toggleMainCategory(category.id)" 
           class="main-category"
           [class.active]="selectedMainCategory() === category.id"
           role="button">
          {{ category.name }}
        </a>
      </li>
      }
    </ul>

    @if (selectedMainCategory()) {
    <ul class="subcategories">
      @for (category of categoryList(); track category.id) {
      @if (category.id === selectedMainCategory()) {
      @if (category.id !== 3) {
      @for (subCategory of category.children; track subCategory.id) {
      <li>
        <a [routerLink]="['/', urlService.toSeoFriendlyUrl(category.name)]" [queryParams]="{categoryId: subCategory.id}"
           class="sub-category"
           (click)="isOpen.set(false)">
          {{ subCategory.name }}
        </a>
      </li>
      }
      } @else {
      @for (subCategory of category.children; track subCategory.id) {
      <li>
        <a (click)="toggleSubCategory(subCategory.id)" 
           class="sub-category">
          {{ subCategory.name }}
          <span class="arrow" [class.expanded]="selectedSubCategory() === subCategory.id">
            <i class="fa-solid fa-angle-right"></i>
          </span>
        </a>

        @if (selectedSubCategory() === subCategory.id) {
        <ul class="child-categories">
          @for (childCategory of subCategory.children; track childCategory.id) {
          <li>
            <a [routerLink]="['/', urlService.toSeoFriendlyUrl(category.name)]"
               [queryParams]="{category: childCategory.name, categoryId: childCategory.id}"
               class="child-category"
               (click)="isOpen.set(false)">
              {{ childCategory.name }}
            </a>
          </li>
          }
        </ul>
        }
      </li>
      }
      }
      }
      }
    </ul>
    }
  </nav>

  <footer class="bottom-container">
    <div class="footer-links">
      <a class="footer-link" routerLink="/search" (click)="isOpen.set(false)">
        <i class="icon-search" aria-hidden="true"></i>
        Ara
      </a>
      <a class="footer-link">
        <i class="icon-shopping" aria-hidden="true"></i>
        Sipariş
      </a>
      <a class="footer-link">
        <i class="icon-compass" aria-hidden="true"></i>
        Yardım
      </a>
    </div>
    <div class="footer-secondary">
      <a>
        <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
        Whatsapp destek hattı
      </a>
    </div>
  </footer>
</aside>