<header class="order-header">
    <div class="order-info-group">
        <dl class="info-item">
            <dt class="info-label">Sipariş No</dt>
            <dd class="info-value">{{order().orderNumber}}</dd>
        </dl>
        <dl class="info-item">
            <dt class="info-label">Sipariş Tarihi</dt>
            <dd class="info-value">{{order().createdDate | date:'d MMMM yyyy'}}</dd>
        </dl>
        <dl class="info-item">
            <dt class="info-label">Sipariş Özeti</dt>
            <dd class="info-value">{{order().items.length}} Ürün</dd>
        </dl>
        <dl class="info-item">
            <dt class="info-label">Toplam Tutar</dt>
            <dd class="info-value total-price-value">
                {{order().totalPrice | currency:'TRY':'symbol-narrow':'1.2-2'}}
            </dd>
        </dl>
    </div>

    <div class="status">
        <span class="order-status" [ngClass]="getStatusClass(order().status)">
            {{order().status === 'completed' ? 'Teslim Edildi' : 'İşlemde'}}
        </span>
    </div>

</header>