<div class="order-header">
    <div class="order-info-group">
        <div class="info-item">
            <div class="info-label">Sipariş No</div>
            <div class="info-value">#{{order().orderNumber}}</div>
        </div>
        <div class="info-item">
            <div class="info-label">Sipariş Tarihi</div>
            <div class="info-value">{{order().createdDate | date:'d MMMM yyyy'}}</div>
        </div>
        <div class="info-item">
            <div class="info-label">Sipariş Özeti</div>
            <div class="info-value">{{order().items.length}} Ürün</div>
        </div>
        <div class="info-item">
            <div class="info-label">Toplam Tutar</div>
            <div class="info-value total-price-value">
                {{order().totalPrice | currency:'TRY':'symbol-narrow':'1.2-2'}}
            </div>
        </div>
    </div>
    <span class="order-status" [ngClass]="getStatusClass(order().status)">
        {{order().status === 'completed' ? 'Teslim Edildi' : 'İşlemde'}}
    </span>
</div>