<form #variantForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Renk Seç</mat-label>
    <mat-select [(ngModel)]="createVariant().colorId" name="colorId" #colorId="ngModel">
      @for (color of colors(); track color.id) {
      <mat-option [value]="color.id">{{color.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button type="submit" [disabled]="!variantForm.valid"
    class="tw-ml-2 tw-px-4 tw-py-2 tw-bg-indigo-500 tw-text-white tw-font-medium tw-rounded hover:tw-bg-opacity-90 disabled:tw-opacity-50 disabled:tw-cursor-not-allowed">
    Oluştur
  </button>
</form>