<app-slider-header 
  [title]="'Renk Seç'" 
  [icon]="'none'"
  [size]="'xs'"
  [margin]="'2'"
  (prev)="prevSlide()" 
  (next)="nextSlide()">
</app-slider-header>

<app-spacing-slider 
  #slider
  [forceUpdate]="forceUpdateTrigger()">
  @for(productVariant of product()?.productVariants; track productVariant.id) {
    @if(productVariant.productFiles[0]) {
      <div class="keen-slider__slide">
        <div class="product-variant-card" 
             [class.selected]="productVariant.id === selectedVariantId()"
             [class.inactive]="!productVariant.active"
             (click)="productVariant.active && selectVariant(productVariant.id)">
          <img ngSrc="{{productVariant.productFiles[0].path}}" width="100" height="100" loading="lazy">
        </div>
      </div>
    }
  }
</app-spacing-slider>