<h1 class="text-xl font-bold mb-4 text-center" mat-dialog-title>Ayakkabı İşlemleri</h1>
<mat-dialog-content class="mat-typography">
  <app-create-size [productVariantId]="data.productVariantId" />

    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sıra </th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="sizeValue">
          <th mat-header-cell *matHeaderCellDef>Numara</th>
          <td mat-cell *matCellDef="let element">{{ element.sizeValue }}</td>
        </ng-container>

        <ng-container matColumnDef="stockQuantity">
          <th mat-header-cell *matHeaderCellDef>Stok</th>
          <td mat-cell *matCellDef="let element">
            @if(editingStockId !== element.id){
            <span>{{ element.stockQuantity }}</span>
            }
            @else {
              <app-update-size 
              [sizeData]="element" 
              [productVariantId]="data.productVariantId"
              (sizeList)="getSize()" 
              (sizeUpdated)="this.editingStockId = null"
              />
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>Durum</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [ngClass]="{'text-red-500': !element.active, 'text-green-500': element.active}">
              <mat-icon>{{ element.active ? 'check_circle' : 'cancel' }}</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef>İşlemler</th>
          <td mat-cell *matCellDef="let element">
            <div style="display: flex; align-items: center; gap: 8px;">
              @if(editingStockId !== element.id){
              <button mat-icon-button (click)="editRow(element.id)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button (click)="delete(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
              }
              @else(){
              <button mat-icon-button>
                <mat-icon>check_circle</mat-icon>
              </button>

              <button mat-icon-button (click)="editingStockId = null">
                <mat-icon>cancel</mat-icon>
              </button>
              }
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>