.mat-mdc-icon-button{
    --mdc-icon-button-state-layer-size: 20px;
  }

  .mat-mdc-table {
    width: 100%;
    overflow-x: auto !important;


    .mat-mdc-row { 
        &:hover {
          background: #f5f5f5;
        }
    
        &:active {
          background: #efefef;
        }
      }
    

    .example-element-row td {
      border-bottom-width: 0;
    }
  }

.dialog-title {
  @apply tw-text-2xl tw-font-bold tw-mb-6 tw-text-center tw-text-gray-800;
}

.table-container {
  @apply tw-rounded-b-xl tw-shadow-lg tw-bg-white tw-p-4;
}

.table-responsive {
  @apply tw-overflow-x-auto;
}

.table-header {
  @apply tw-text-base;
}

.status-badge {
  @apply tw-px-3 tw-py-1 tw-rounded-full tw-text-sm tw-font-medium;
}

.status-active {
  @apply tw-bg-green-100 tw-text-green-700;
}

.status-inactive {
  @apply tw-bg-red-100 tw-text-red-700;
}

.edit-section {
  @apply tw-pt-2;
}

.action-buttons {
  @apply tw-flex tw-gap-2;
}

.action-icon {
  @apply tw-text-teal;
}