<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-container">
  <!-- Grid Container -->
  <div class="grid-container">
    <!-- Kategori -->
    <div class="form-group">
      <mat-label class="form-label">Kategori</mat-label>
      <mat-form-field appearance="outline" class="form-field !tw-mb-0">
        <mat-select formControlName="categoryId">
          @for(category of listCategory$ | async; track category) {
            <mat-optgroup [label]="category.name"></mat-optgroup>
            @for(child of category.children; track child) {
              <mat-option [value]="child.id" [ngClass]="{'hidden-option': child.children.length !== 0}">
                {{ child.name }}
              </mat-option>
            }
            @for(child of category.children; track child) {
              @if(child.children.length > 0) {
                <mat-optgroup [label]="child.name">
                  <mat-option *ngFor="let subChild of child.children" [value]="subChild.id">
                    {{ subChild.name }}
                  </mat-option>
                </mat-optgroup>
              }
            }
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label class="form-label">Kullanım Alanı</mat-label>
      <mat-form-field appearance="outline" class="form-field !tw-mb-0">
        <mat-select formControlName="usageAreaId">
          @for(usageArea of listUsageArea$ | async; track usageArea) {
            <mat-option [value]="usageArea.id">{{ usageArea.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label class="form-label">Marka</mat-label>
      <mat-form-field appearance="outline" class="form-field !tw-mb-0">
        <mat-select formControlName="brandId">
          @for(brand of listBrand$ | async; track brand) {
            <mat-option [value]="brand.id">{{ brand.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label class="form-label">Model</mat-label>
      <mat-form-field appearance="outline" class="form-field !tw-mb-0">
        <mat-select formControlName="shoeModelId">
          @for(model of listShoeModel$ | async; track model) {
            <mat-option [value]="model.id">{{ model.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label class="form-label">Materyal</mat-label>
      <mat-form-field appearance="outline" class="form-field !tw-mb-0">
        <mat-select formControlName="materialId">
          @for(material of listMaterial$ | async; track material) {
            <mat-option [value]="material.id">{{ material.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label class="form-label">Fiyat</mat-label>
      <mat-form-field appearance="outline" class="form-field !tw-mb-0">
        <input matInput type="number" name="price" placeholder="0" formControlName="price" />
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.99</span>
      </mat-form-field>
    </div>
  </div>

  <!-- Açıklama -->
  <div class="description-container">
    <mat-label class="form-label">Açıklama</mat-label>
    <mat-form-field appearance="outline" class="description-field !tw-mb-0">
      <textarea matInput formControlName="description" class="description-textarea" rows="4"></textarea>
    </mat-form-field>
  </div>

  <!-- Submit Button -->
  <div class="submit-container">
    <button type="submit" 
            [disabled]="!productForm.valid"
            class="submit-button">
      {{ btnTitle() }}
    </button>
  </div>
</form>