<div class="header-container">
  <div class="logo-section">
    <a class="tw-cursor-pointer">
      <img src="assets/images/common/logo_dark.png" width="120" routerLink="/">
    </a>
  </div>

  <nav class="max-md:tw-hidden">
    <app-main-nav />
  </nav>

  <div class="actions-section">

    <ul class="action-menu">
      <li class="action-menu__item">
        <a routerLink="/search">
          <i class="icon-search"></i>
        </a>
      </li>
      <li class="action-menu__item max-md:!tw-hidden">
        <a>
          <app-user-dropdown />
        </a>
      </li>
      <li class="action-menu__item">
        <a routerLink="/favorites">
          <i class="icon-heart"></i>
        </a>
      </li>
      <li class="action-menu__item">
        <a (click)="toggleCart()">
          <i class="icon-cart"></i>
        </a>
      </li>
      <li class="action-menu__item md:!tw-hidden">
        <a (click)="toggleMobileSidebar()">
        <i class="icon-bars"></i>
      </a>
      </li>
    </ul>
  </div>
</div>

<div class="md:!tw-hidden">
  <app-mobile-sidebar></app-mobile-sidebar>
</div>

<app-cart #cart></app-cart>