<div class="header-container">
  <div class="logo-section">
    <a class="tw-cursor-pointer">
      <img src="assets/images/common/logo2.png" width="120">
    </a>
  </div>

  <nav class="navigation-menu">
    <ul class="tw-flex tw-gap-8">
      <div class="nav-item">
        <a class="nav-link">
          <li>Kadın</li>
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <h3>Ayakkabı</h3>
            <ul>
              <li><a>Outdoor</a></li>
              <li><a>Bot</a></li>
              <li><a>Sneaker</a></li>
              <li><a>Koşu</a></li>
              <li><a>Yürüyüş</a></li>
              <li><a>Sandalet</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="nav-item">
        <a class="nav-link">
          <li>Erkek</li>
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <h3>Ayakkabı</h3>
            <ul>
              <li><a>Outdoor</a></li>
              <li><a>Bot</a></li>
              <li><a>Sneaker</a></li>
              <li><a>Koşu</a></li>
              <li><a>Yürüyüş</a></li>
              <li><a>Sandalet</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="nav-item">
        <a class="nav-link">
          <li>Çocuk</li>
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <div class="child-categories">
              <div class="category-column">
                <h3>Erkek Çocuk</h3>
                <ul>
                  <li><a>Outdoor</a></li>
                  <li><a>Bot</a></li>
                  <li><a>Sneaker</a></li>
                </ul>
              </div>
              <div class="category-column">
                <h3>Kız Çocuk</h3>
                <ul>
                  <li><a>Outdoor</a></li>
                  <li><a>Bot</a></li>
                  <li><a>Sneaker</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </nav>

  <div class="actions-section">
    <div class="search-box">
      <a class="search-link">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Arama</span>
      </a>
    </div>

    <ul class="action-menu">
      <li class="action-menu__item">
        <a><i class="fa-solid fa-user"></i></a>
      </li>
      <li class="action-menu__item">
        <a><i class="fa-solid fa-heart"></i></a>
      </li>
      <li class="action-menu__item">
        <a><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
    </ul>
  </div>
</div>