<form #stockForm="ngForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-header">
    <div class="form-group">
      <div class="input-container">
        <label class="input-label">Ayakkabı Numarası</label>
        <div class="input-wrapper"> 
          <input 
            class="form-input"
            [(ngModel)]="createSize().sizeValue" 
            name="sizeValue"
            #sizeValue="ngModel" 
            type="number" 
            required
            min="1" 
            max="55"
          >
        </div>
        @if(sizeValue.invalid && (sizeValue.dirty || sizeValue.touched)) {
          <div class="validation-message">
            @if(sizeValue.errors?.['max']) {
              <span>Maksimum 55 numara girilebilir</span>
            }
            @if(sizeValue.errors?.['min']) {
              <span>Minimum 1 numara girilebilir</span>
            }
          </div>
        }
      </div>
  
      <div class="input-container">
        <label class="input-label">Stok Sayısı</label>
        <div class="input-wrapper">
          <input
            class="form-input"
            [(ngModel)]="createSize().stockQuantity" 
            name="stockQuantity" 
            #stockQuantity="ngModel" 
            type="number"
            min="1"
            max="100"
          >
        </div>
        @if(stockQuantity.invalid && (stockQuantity.dirty || stockQuantity.touched)) {
          <div class="validation-message">
            @if(stockQuantity.errors?.['min']) {
              <span>Minimum 1 olmalıdır</span>
            }
            @if(stockQuantity.errors?.['max']) {
              <span>Maksimum 100 olmalıdır</span>
            }
          </div>
        }
      </div>
  
      <button type="submit" [disabled]="!stockForm.valid" class="submit-button">
        Oluştur
      </button>
    </div>
  </div>

</form>