<form #stockForm="ngForm" (ngSubmit)="onSubmit()" class="tw-flex tw-items-center tw-gap-6">
  <mat-form-field>
    <mat-label>Ayakkabı numarası</mat-label>
    <input 
    matInput 
    [(ngModel)]="createSize().sizeValue" 
    name="sizeValue"
    #sizeValue="ngModel" 
    type="number" 
    required
    min="1" max="55" 
    pattern="^[1-9][0-9]?$|^55$"
    >

    @if(sizeValue.invalid && (sizeValue.dirty || sizeValue.touched)) {
    <mat-error>
      @if(sizeValue.errors?.['required']) {
      Ayakkabı numarası gereklidir
      }
      @if(sizeValue.errors?.['max']) {
      Maksimum 55 numara girilebilir
      }
      @if(sizeValue.errors?.['min']) {
      Minimum 1 numara girilebilir
      }
      @if(sizeValue.errors?.['pattern']) {
      Geçerli bir ayakkabı numarası giriniz (1-55)
      }
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Stok Miktarı</mat-label>
    <input
    matInput 
    [(ngModel)]="createSize().stockQuantity" 
    name="stockQuantity" 
    placeholder="Stok sayısı" 
    #stockQuantity="ngModel" 
    type="number"
    min="0" 
    required>
    
    @if(stockQuantity.invalid && (stockQuantity.dirty || stockQuantity.touched)) {
    <mat-error>Geçerli bir stok sayısı giriniz</mat-error>
    }
  </mat-form-field>

  <button type="submit" [disabled]="!stockForm.valid"
  class="tw-px-4 tw-py-2 tw-bg-admin-custom tw-text-white tw-font-medium tw-rounded hover:tw-bg-opacity-90 disabled:tw-opacity-50 disabled:tw-cursor-not-allowed">Oluştur</button>
</form>