.mat-mdc-form-field {
    --mat-form-field-state-layer-color:  transparent !important;
    --mdc-filled-text-field-container-color: transparent !important;
  
  }

  .mat-mdc-form-field-focus-overlay {
    opacity: 1 !important;
  }