table.mat-elevation-z8.demo-table {
    width: 100%; // Tablo genişliğini %100 yap
    border-collapse: collapse; // Hücre sınırlarını birleştir
  }
  
  app-create-size {
    display: block; // Bileşeni bloğa çevir
    margin: 0; // Varsayılan margin'i kaldır
    padding: 0; // Varsayılan padding'i kaldır
  }
  
  table.mat-elevation-z8.demo-table,
  app-create-size {
    margin-top: 0;  // create-size bileşeni ve tablonun üstünde boşluk olmamalı
    margin-bottom: 0;  // create-size bileşeni ve tablonun altında boşluk olmamalı
  }
  
  th, td {
    padding: 8px; // Tablo hücre içi boşluk
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0; // Başlık hücreleri için arka plan rengi
  }
  
  td {
    background-color: #ffffff; // Veri hücreleri için arka plan rengi
  }
  