<div class="promotion-banner">
  <div class="banner-content">
    <div class="banner-image">
      <img src="assets/images/ui/bank_card.png" alt="Steprella Logo" class="bank-logo">
    </div>
    
    <div class="banner-middle">
      <h3 class="banner-title">İlk alışverişinize özel 250 TL indirim fırsatı!</h3>
      <div class="banner-features">
        <div class="feature-item">
          <div class="feature-icon">
            <i class="fa-solid fa-check"></i>
          </div>
          <span>Tüm ayakkabı alışverişlerinizde <span class="highlight">%10</span> indirim!</span>
        </div>
        <div class="feature-item">
          <div class="feature-icon">
            <i class="fa-solid fa-check"></i>
          </div>
          <span>İlk siparişinizde <span class="highlight">ücretsiz</span> kargo!</span>
        </div>
        <div class="feature-item">
          <div class="feature-icon">
            <i class="fa-solid fa-check"></i>
          </div>
          <span><span class="highlight">30 gün</span> ücretsiz iade garantisi!</span>
        </div>
        <div class="feature-item">
          <div class="feature-icon">
            <i class="fa-solid fa-check"></i>
          </div>
          <span>Tüm kredi kartlarına <span class="highlight">9 taksit</span> imkanı!</span>
        </div>
      </div>
    </div>

    <div class="banner-button">
      <button class="details-button">Detaylı Bilgi</button>
    </div>
  </div>
</div>