<div class="tw-flex tw-flex-col lg:tw-flex-row tw-justify-center tw-py-10 tw-bg-white tw-w-full tw-gap-y-10 lg:tw-gap-[7%]">
    <!-- Sol Kısım -->
    <div class="tw-flex-1 tw-mt-6 lg:tw-mt-12 tw-text-center">
        <!-- Başlık -->
        <div>
            <img src="assets/images/ui/shoe_text2.png">
        </div>
        <!-- Altındaki button ve paragraf -->
        <div class="tw-flex tw-flex-col lg:tw-flex-row tw-max-w-[598px] tw-mt-8 tw-justify-center lg:tw-justify-between tw-gap-y-4 lg:tw-gap-0">
            <!-- Paragraf -->
            <div class="tw-w-full lg:tw-w-80">
                <p class="tw-text-gray-600 tw-text-lg tw-text-center">
                    Her ihtiyaca ve tarza uygun şık ve rahat ayakkabılarımızı keşfedin.
                </p>
            </div>
            <!-- Buton -->
            <div>
                <button
                    class="tw-bg-orange-500 tw-text-white tw-py-3 tw-px-6 tw-rounded-lg tw-shadow-lg tw-transform tw-transition-transform hover:tw-scale-105">
                    Şimdi Alışveriş Yap
                </button>
            </div>
        </div>
    </div>

    <!-- Sağ Kısım -->
    <div class="tw-flex-1 tw-flex ">
        <img src="assets/images/ui/shoe.png" alt="Shoe" 
             class="tw-w-full lg:tw-w-auto tw-max-w-[700px] tw-h-auto">
    </div>
</div>
<div class="tw-mb-14">
    <app-brand-slide />
</div>

<div>
    <app-random-products />
</div>