<div class="password-form-container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="form-section">
            <h2>Şifre Güncelleme</h2>

            <div class="form-row">
                <div class="form-group">
                    <label for="currentPassword">Şu Anki Şifre</label>
                    <div class="input-container">
                        <input id="currentPassword" [type]="showCurrentPassword() ? 'text' : 'password'" formControlName="currentPassword">
                        <button 
                        type="button" 
                        class="password-toggle" 
                        (click)="showCurrentPassword.set(!showCurrentPassword())">
                        <i class="fas" [class.fa-eye]="!showCurrentPassword()" [class.fa-eye-slash]="showCurrentPassword()"></i>
                      </button>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="newPassword">Yeni Şifre</label>
                    <div class="input-container">
                        <input id="newPassword" [type]="showNewPassword() ? 'text' : 'password'" formControlName="newPassword">
                        <button 
                        type="button" 
                        class="password-toggle" 
                        (click)="showNewPassword.set(!showNewPassword())">
                        <i class="fas" [class.fa-eye]="!showNewPassword()" [class.fa-eye-slash]="showNewPassword()"></i>
                      </button>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="confirmPassword">Yeni Şifre Tekrar</label>
                    <div class="input-container">
                        <input id="confirmPassword" [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword">
                        <button 
                        type="button" 
                        class="password-toggle" 
                        (click)="showConfirmPassword.set(!showConfirmPassword())">
                        <i class="fas" [class.fa-eye]="!showConfirmPassword()" [class.fa-eye-slash]="showConfirmPassword()"></i>
                      </button>
                    </div>
                </div>
            </div>
        </div>

        <button class="submit-btn" type="submit">Güncelle</button>
    </form>
</div>
