.mat-mdc-form-field {
  --mdc-outlined-text-field-outline-color: transparent;
  --mdc-outlined-text-field-hover-outline-color: transparent;
  --mdc-outlined-text-field-focus-outline-color: transparent;
}

.mat.table-overrides{
  --mat-sys-surface: red;
}

.table-section{
  @apply tw-rounded-b-xl tw-bg-white tw-shadow-lg tw-px-4 tw-pb-4;

  .table-container {
    @apply tw-overflow-x-auto;
  
    .mat-mdc-table {
      tr.example-detail-row {
        height: 0;
      }
  
      tr.example-element-row:not(.example-expanded-row) {
        &:hover {
          @apply tw-bg-gray-100;
        }
  
        &:active {
          @apply tw-bg-gray-200;
        }
      }
  
      .example-element-row td {
        border-bottom-width: 0;
      }
    }
  }
}


.dialog-title {
  @apply tw-text-xl tw-font-bold tw-mb-4 tw-text-center;
}

.header-container {
  @apply tw-bg-white tw-flex tw-justify-between tw-items-center tw-pt-6 tw-rounded-t-xl tw-pb-6;
}

.search-container {
  @apply tw-mx-5 tw-h-[40px];
}

.search-input {
  @apply tw-bg-slate-200 tw-border-none tw-rounded-full tw-px-4 tw-h-full focus:tw-outline-none tw-w-full;
}

.create-button-container {
  @apply tw-mx-5 tw-flex tw-justify-end;
}

.create-button {
  @apply tw-flex tw-items-center tw-bg-admin-custom tw-text-white tw-px-4 tw-py-2 tw-rounded-lg hover:tw-bg-admin-custom/80 tw-transition-colors;
}

.create-button-icon {
  @apply tw-text-white tw-mr-2;
}

.create-button-text {
  @apply tw-text-white tw-font-medium;
}

th{
  @apply tw-text-base;
}

.not-data{
  @apply tw-py-5 tw-text-center tw-font-medium tw-text-lg tw-text-gray-600;
}

// Responsive classes
@media (max-width: 450px) {
  .header-container {
    @apply tw-block tw-space-y-4;
  }

  .search-container {
    @apply tw-w-[calc(100%-40px)] tw-mx-auto;
  }

  .create-button-container {
    @apply tw-w-[calc(100%-40px)] tw-mx-auto;
  }
}

@media (min-width: 450px) {
  .create-button {
    @apply tw-w-auto;
  }
}

