<div class="">
  <div class="tw-bg-white tw-flex tw-justify-between tw-items-center tw-px-4 md:tw-px-8 tw-pt-6 tw-rounded-t-xl">
    <mat-form-field class="!tw-flex-row" appearance="outline">
      <input placeholder="Ara..." class="!tw-bg-slate-200 !tw-rounded-full !tw-px-3 !tw-py-2" matInput
        (keyup)="applyFilter($event)" #input />
    </mat-form-field>

    <button mat-icon-button
      class="tw-flex tw-items-center tw-bg-admin-custom tw-text-white tw-px-4 tw-py-2 tw-rounded-lg hover:tw-bg-admin-custom/80 tw-transition-colors"
      (click)="createProductDialog()">
      <mat-icon class="tw-text-white tw-mr-2">add</mat-icon>
      <span class="tw-text-white tw-font-medium">Oluştur</span>
    </button>
  </div>

  <div class="tw-rounded-b-xl tw-bg-white tw-shadow-lg tw-px-4 tw-pb-4">
    <div class="table-container">
      <table mat-table class="mat-elevation-z8" [dataSource]="dataSource()" matSort multiTemplateDataRows>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tw-text-base"> Sıra </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tw-text-base"> Kategori </th>
          <td mat-cell *matCellDef="let element"> {{ element.category.name }} </td>
        </ng-container>

        <ng-container matColumnDef="brandName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tw-text-base"> Marka </th>
          <td mat-cell *matCellDef="let element"> {{ element.brandName }} </td>
        </ng-container>

        <ng-container matColumnDef="shoeModelName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tw-text-base"> Model </th>
          <td mat-cell *matCellDef="let element"> {{ element.shoeModelName }} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="tw-text-base"> Fiyat </th>
          <td mat-cell *matCellDef="let element"> {{ element.price | currency }} </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th class="cursor-pointer" mat-header-cell *matHeaderCellDef class="tw-text-base"> İşlemler </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row"
              (click)="(listProduct = listProduct === element ? null : element); $event.stopPropagation()">
              <mat-icon class="tw-text-gray-600">{{ listProduct === element ? 'keyboard_arrow_up' :
                'keyboard_arrow_down' }}</mat-icon>
            </button>
            <button mat-icon-button (click)="updateProductDialog(element.id)">
              <mat-icon class="tw-text-gray-600">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == listProduct ? 'expanded' : 'collapsed'">
              <app-list-product-variant [productId]="element.id"></app-list-product-variant>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
          [class.example-expanded-row]="listProduct === element"
          (click)="listProduct = listProduct === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="tw-py-5 tw-text-center tw-font-medium tw-text-lg tw-text-gray-600" colspan="6">
            Filtre ile eşleşen veri bulunamadı.
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" (page)="loadProducts()"></mat-paginator>
    </div>
  </div>
</div>