<div class="address-container">
    <app-address-header (createClick)="openCreateDialog()" />

    <div class="address-page">
        <div class="address-list">
            @for (address of listAddress(); track address.id) {
                <app-address-card [address]="address" (updateClick)="openUpdateDialog(address.id)" (deleteClick)="deleteAddress(address.id)" />
            } @empty {
                <div class="empty-state">
                    <p class="empty-message">Kayıtlı adres bulunmamaktadır.</p>
                </div>
            }
        </div>
    </div>
</div>