@use '@angular/material' as mat;

html {
    @include mat.theme((color: (theme-type: light,
                primary: mat.$blue-palette,
            ),
            typography:(plain-family: "Manrope, serif"
            ),
            density: 0,
        ));

    @include mat.dialog-overrides((container-color: #f4f7fb,
            container-max-width: 1200px,
        ));

}

.mat-mdc-dialog-container {
    --mat-dialog-container-max-width: 1200px;
}

.mat-mdc-optgroup {
    --mat-optgroup-label-text-color: gray;
}

.mat-mdc-table {
    --mat-table-background-color: white;
}

.mat-mdc-paginator {
    --mat-paginator-container-background-color: white;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    --mat-table-row-item-outline-color: #f4f4f9;
}

.mdc-notched-outline__notch {
    border-style: none;
}

.mat-mdc-icon-button {
    line-height: normal;
}

@media (max-width: 850px) {
    .mat-mdc-dialog-container {
        --mat-dialog-container-max-width: calc(100vw - 20px);
    }
}

.table-responsive {
    overflow-x: auto;
}

.mat-mdc-header-row {
    --mat-table-header-headline-color: #29343d;
}

.mat-badge-content {
    --mat-badge-background-color: #5f4be8;
}

.mat-mdc-table {
    tr.example-detail-row {
        height: 0;
    }

    tr:not(.example-detail-row):not(.example-element-row) {
        &:hover {
            background: #f5f5f5;
        }
    }

    tr.example-element-row:not(.example-expanded-row) {
        &:active {
            background: #efefef;
        }
    }
}


html {
    --mat-sys-background: #fff;
    --mat-sys-surface-container-low: #fff !important;
    --mat-sys-outline: #e0e6eb;
    --mat-sys-on-background: #29343d !important;
    --mat-sys-on-surface: #29343d !important;
    --mat-sys-scrim: #29343d !important;
    --mat-sys-shadow: #29343d !important;
    --mat-sys-neutral10: #29343d !important;
}
