<form #shoeModelForm="ngForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field appearance="outline">
        <mat-label>Model Adı</mat-label>
        <input matInput
        type="text"
        name="name"
        [(ngModel)]="updateShoeModel().name"
        #name="ngModel"
        required
        minlength="2"
        maxlength="50"
        (keydown.enter)="onSubmit()"
        aria-required="true">

    <!-- Validation Messages -->
    @if(name.invalid && (name.dirty || name.touched)) {
        <mat-error role="alert">
          @if(name.errors?.['required']) {
            Marka adı zorunludur
          } @else if(name.errors?.['minlength']) {
            Marka adı en az 2 karakter olmalıdır
          } @else if(name.errors?.['maxlength']) {
            Marka adı en fazla 50 karakter olmalıdır
          }
        </mat-error>
    }
  </mat-form-field>
</form>