<div class="navigation-menu">
  <ul class="tw-flex tw-gap-8">
    @for(category of categoryList(); track category) {
    <div class="nav-item">
      <a class="nav-link">
        <li>{{category.name}}</li>
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          @if(category.children.length > 0) {
            @if(category.name !== 'Çocuk') {
              <div class="child-categories">
                <div class="category-column">
                  <h3>Ayakkabı</h3>
                  <ul>
                    @for(child of category.children; track child) {
                      <li><a>{{child.name}}</a></li>
                    }
                  </ul>
                </div>
              </div>
            } @else {
              <div class="child-categories">
                @for(child of category.children; track child) {
                  <div class="category-column">
                    <h3>{{child.name}}</h3>
                    <ul>
                      @for(subChild of child.children; track subChild) {
                        <li><a>{{subChild.name}}</a></li>
                      }
                    </ul>
                  </div>
                }
              </div>
            }
          }
        </div>
      </div>
    </div>
    }
  </ul>
</div>