<div class="cart-sidebar" [class]="isOpen() ? 'active' : ''">

     <app-cart-header [isOpen]="isOpen"/>

     @if (!isAuthenticated()) {
       <div class="auth-warning">
         <p>Sepeti görüntüleyebilmek için lütfen giriş yapın.</p>
         <button class="login-btn" routerLink="/auth">Giriş Yap</button>
       </div>
     } @else {
       @for (item of listCart()?.cartItems; track item.id) {
        <app-cart-item 
        [data]="item" 
        [selectedItems]="selectedItemIds()"
        (updateQuantity)="updateQuantity(item.id, $event.change)"
        (removeItem)="remove(item.id)"/>
       }
       @empty {
        <div class="empty-cart">
            <p>Sepetiniz Boş</p>
        </div>
        }

       <app-cart-footer [totalPrice]="listCart()?.totalPrice"/>
     }

</div>

<div class="cart-overlay" 
     [class]="isOpen() ? 'active' : ''" 
     (click)="isOpen.set(false)">
</div>
