<form #stockForm="ngForm" (ngSubmit)="onSubmit()" class="tw-flex tw-flex-col tw-gap-1">
  <mat-form-field appearance="outline" class="tw-w-36">
    <mat-label>Stok Sayısı</mat-label>
    <input matInput
    type="number"
    name="stockQuantity" 
    [(ngModel)]="updateSize().stockQuantity" 
    #stockQuantity="ngModel" 
    required
    min="1" 
    max="100"
    (keydown.enter)="onSubmit()"
    aria-required="true">
 
    
    @if(stockQuantity.invalid && (stockQuantity.dirty || stockQuantity.touched)) {
      <mat-error role="alert">
        @if(stockQuantity.errors?.['required']) {
          <span>Stok sayısı gereklidir</span>
        }
        @if(stockQuantity.errors?.['min']) {
          <span>Minimum 1 olmalıdır</span>
        }
        @if(stockQuantity.errors?.['max']) {
          <span>Maksimum 100 olmalıdır</span>
        }
      </mat-error>
    }
  </mat-form-field>
</form>