<div class="cart-items">
    <div class="cart-item">
        <button class="select-btn" 
                [class.selected]="isSelected(data().id)"
                (click)="onToggleSelect(data().id)">
            <i class="fa-solid fa-check"></i>
        </button>
        <img [src]="'assets/images/ui/shoe1.png'">
        <div class="item-details">
            <h3>{{ data().variant.shoeModelName }} - {{ data().variant.colorName }}</h3>
            <p>{{ data().unitPrice | currency:'TRY':'symbol-narrow':'1.2-2'}}</p>
            <div class="quantity-controls">
                <button [disabled]="data().quantity <= 1" 
                        (click)="onUpdateQuantity(data().id, -1)">−</button>
                <div class="quantity-display">{{ data().quantity }}</div>
                <button (click)="onUpdateQuantity(data().id, 1)">+</button>
            </div>
        </div>
        <button class="remove-btn" (click)="onRemoveItem(data().id)">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>