.mat-mdc-form-field {
  --mdc-outlined-text-field-outline-color: transparent;
  --mdc-outlined-text-field-hover-outline-color: transparent;
  --mdc-outlined-text-field-focus-outline-color: transparent;
}

.mat.table-overrides{
  --mat-sys-surface: red;
}