<mat-toolbar class="header">
  <header class="header-container">
    <nav class="left-section">
      <div class="menu-toggle">
        <button mat-icon-button (click)="toggleSidebar()" aria-label="Toggle navigation menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="notifications-area">
        <button class="notification-button">
          <i class="far fa-envelope notification-icon"></i>
          <span class="notification-badge">2</span>
        </button>

        <button class="notification-button">
          <i class="far fa-star notification-icon"></i>
          <span class="notification-badge">1</span>
        </button>

        <button class="notification-button">
          <i class="far fa-bell notification-icon"></i>
          <span class="notification-badge">3</span>
        </button>
      </div>
    </nav>

    <div class="user-section">
      <button [matMenuTriggerFor]="userMenu" class="user-avatar">
        <img src="assets/images/admin/user.png" alt="User Avatar" width="48" height="48" />
      </button>

      <mat-menu class="!tw-w-52 !tw-bg-white !tw-mt-5 !tw-rounded-b-lg" #userMenu="matMenu" >
        <button mat-menu-item>
          <mat-icon class="material-icons-outlined">person_outline</mat-icon>
          <span>Profilim</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons-outlined">account_circle</mat-icon>
          <span>Hesabım</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons-outlined">task</mat-icon>
          <span>Görevlerim</span>
        </button>

        <div class="logout-container">
          <button mat-stroked-button (click)="logout()" class="!tw-rounded-lg !tw-w-full !tw-border-blue-700">
            <span class="logout-text">Çıkış Yap</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </header>
</mat-toolbar>