.mat-mdc-form-field {
    // Normal durum - Gri outline (2px)
    --mdc-outlined-text-field-outline-color: transparent; 
    
    // Focus durumu - Gri outline ve label
    --mdc-outlined-text-field-hover-outline-color: rgb(71 85 105);
    --mdc-outlined-text-field-focus-outline-color: rgb(71 85 105); 
    --mdc-outlined-text-field-focus-label-text-color: rgb(55 65 81);
    
    // Label ve input renkleri
    --mdc-outlined-text-field-label-text-color: rgb(55 65 81);
    --mdc-outlined-text-field-input-text-color: rgb(55 65 81);
    
    // Error text rengi
    --mat-form-field-error-text-color: rgb(239 68 68);
      
    // Label hover durumu
    --filled-hover-active-indicator-color: transparent;
    --outlined-hover-label-text-color: rgb(55 65 81); 
    --mdc-outlined-text-field-hover-label-text-color: rgb(55 65 81);
}

::ng-deep .mdc-text-field {
    background-color: rgba(226, 232, 240, 1) !important; 
    border-radius: 6px;
    backdrop-filter: blur(8px);
}
::ng-deep .mdc-text-field--outlined .mdc-text-field__input {
    padding-top: 3px;
}

::ng-deep .mat-mdc-form-field-error {
    font-size: 12px;
    font-weight: bold;
}