@if (modalState().isOpen) {
  <div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-container" 
         [class]="modalState().config.width"
         [style.max-height]="modalState().config.height">
      <div class="modal-header">
        <h1>{{modalState().title}}</h1>
        <button class="close-button" (click)="close()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="modal-content">
        <ng-container *ngIf="component" [ngComponentOutlet]="component"></ng-container>
      </div>
    </div>
  </div>
}