<div class="variant-container">
  <app-create-product-variant [productId]="productId()" (variantList)="loadProductVariants()"></app-create-product-variant>

  @for (variant of productVariants(); track variant.id) {
  <div class="variant-item">
    <div class="tw-text-left">
      <p class="variant-name">{{variant.colorName}} Renkli Ürün</p>
    </div>

    <div class="tw-text-center">
      @if (editingVariantId() !== variant.id) {
        <span class="variant-status" [ngClass]="{
          'status-active': variant.active,
          'status-inactive': !variant.active
        }">
          {{ variant.active ? 'Aktif' : 'Kapalı' }}
        </span>
      } @else {
      <app-update-product-variant
        [productId]="productId()"
        [variantData]="variant"
        (variantUpdated)="onVariantUpdated()"
        (variantList)="loadProductVariants()">
      </app-update-product-variant>
      }
    </div>

    <div class="action-buttons">
      <button mat-icon-button (click)="fileDialog(variant.id)" class="action-button">
        <mat-icon class="action-icon">image</mat-icon>
      </button>

      <button mat-icon-button (click)="sizeDialog(variant.id)" class="action-button">
        <i class="fa-solid fa-shoe-prints custom-icon"></i>
      </button>

      @if (editingVariantId() !== variant.id) {
      <button mat-icon-button (click)="editRow(variant.id)" class="action-button">
        <mat-icon class="action-icon">build</mat-icon>
      </button>
      } @else {
      <button mat-icon-button (click)="editingVariantId.set(null)" class="action-button">
        <mat-icon class="action-icon">cancel</mat-icon>
      </button>
      }
    </div>
  </div>
  } @empty {
  <p>No variants found.</p>
  }
</div>
