<div class="description-container">
    <h2 class="title">Bilim</h2>
    <p class="subtitle">En Son Teknoloji Ayakkabı Tasarımlarımızın Arkasındaki Teknoloji ve İnovasyonu Keşfedin.</p>
  
    <div class="content-wrapper">
      <div class="shoe-image">
        <img ngSrc="assets/images/ui/photo4.png" width="425" height="510" alt="Teknik ayakkabı tasarımı" class="technical-drawing">
      </div>
  
      <div class="materials">
        <div class="material-item">
          <img ngSrc="assets/images/ui/photo3.png" width="128" height="128" loading="lazy" alt="Geri dönüştürülmüş PET malzeme" class="material-image">
          <div class="material-content">
            <h3>G. Dönüştürülmüş PET</h3>
            <p>Saf Polyestere Göre Daha Az Enerji Gerektirir ve Yeni Plastik Üretimi Gerektirmez.</p>
          </div>
        </div>
  
        <div class="material-item">
          <img ngSrc="assets/images/ui/photo2.png" width="128" height="128" loading="lazy" alt="Geri dönüştürülmüş EVA malzeme" class="material-image">
          <div class="material-content">
            <h3>G. Dönüştürülmüş EVA</h3>
            <p>Verimli ve Gerçek Geri Dönüşüme Yol Açan %80 Üretim Sonrası Atık.</p>
          </div>
        </div>
  
        <div class="material-item">
          <img ngSrc="assets/images/ui/photo.png" width="128" height="128" loading="lazy"  alt="Su bazlı PU malzeme" class="material-image">
          <div class="material-content">
            <h3>Su Bazlı PU</h3>
            <p>Kirlilik İçermeyen, Toksik Olmayan ve Zararlı Kimyasallar İçermeyen Su Bazlı Poliüretan Reçineden Oluşur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>