<div class="paginator">
  <!-- Geri Butonu -->
  @if(currentPage() > 1) {
    <button 
      class="paginator-btn" 
      (click)="changePage(currentPage() - 1)">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
  }

  <!-- Sayfa Numaraları -->
  @for(page of getPageNumbers(); track page) {
    @if(page !== '...') {
      <button 
        class="page-number" 
        [class.active]="currentPage() === page"
        (click)="changePage(page)">
        {{ page }}
      </button>
    }
    @else {
      <span>...</span>
    }
  }

  <!-- İleri Butonu -->
  @if(currentPage() < totalPages()) {
    <button 
      class="paginator-btn" 
      (click)="changePage(currentPage() + 1)">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  }
</div>