<div class="user-dropdown" (click)="toggleDropdown($event)">
 
      <div class="hover-area">
        <div class="dropdown-trigger">
          <i class="icon-user profile"></i>
        </div>
        @if (isLoggedIn()) {
        @if (isOpen()) {
          <div class="profile-section">
            <ul class="dropdown-menu">
              <p>{{ userEmail() }}</p>
              <li>
                <a routerLink="/profile/orders">
                  <i class="icon-shopping"></i>
                  Tüm Siparişlerim
                </a>
              </li>
              <li>
                <a routerLink="/profile/reviews">
                  <i class="icon-message"></i>
                  Değerlendirmelerim
                </a>
              </li>
              <li>
                <a routerLink="/profile/info">
                  <i class="icon-user"></i>
                  Kullanıcı Bilgilerim
                </a>
              </li>
              <li>
                <a routerLink="/profile/addresses">
                  <i class="icon-location"></i>
                  Adreslerim
                </a>
              </li>
              <li>
                <a (click)="logout()">
                  <i class="icon-log_out"></i>
                  Çıkış Yap
                </a>
              </li>
            </ul>
          </div>
        }
      }    @else {
        <div class="auth-section">
          @if (isOpen()) {
            <ul class="dropdown-menu">
                <li><a class="login-btn" routerLink="/auth">Giriş Yap</a></li>
                <li><a class="register-btn" routerLink="/auth">Kayıt Ol</a></li>
            </ul>
          }
        </div>
    }
      </div>


</div>

