<h1 class="text-xl font-bold mb-4 text-center" mat-dialog-title>Fotoğraf İşlemleri</h1>
<mat-dialog-content class="mat-typography">
    <app-create-file [productVariantId]="data.productVariantId" (fileList)="getFile()"/>
    @for(file of (listFile$ | async)?.files;track file){
    <img style="width: 300px; height: auto;" [src]="file | fileArray">
    <p>{{file.fileName}}</p>
    <p>{{file.path}}</p>
    <button mat-icon-button (click)="delete(file.id)">
        <mat-icon>close</mat-icon>
    </button>
    }
</mat-dialog-content>

<mat-dialog-actions align="end">
</mat-dialog-actions>