<h1 class="dialog-title" mat-dialog-title>
    Fotoğraf İşlemleri
</h1>

<mat-dialog-content>
    <div class="tw-mb-8">
        <app-create-file [productVariantId]="dialogData.productVariantId" (fileList)="loadFiles()" />
    </div>

    <div class="file-grid">
        @for(file of files()?.files; track file.id){
        <div class="file-card">
            <div class="image-container">
                <img [src]="file | fileArray" [alt]="file.fileName" class="file-image">
            </div>

            <div class="file-content">
                <div class="file-header">
                    <div class="tw-flex-1">
                        <h3 class="file-title" [title]="file.fileName">
                            {{file.fileName}}
                        </h3>
                    </div>
                    <mat-icon class="delete-icon" (click)="delete(file.id)">delete</mat-icon>
                </div>
            </div>
        </div>
        }
    </div>

    @if(!files()?.files?.length) {
    <div class="empty-state">
        <mat-icon class="empty-state-icon">photo_library</mat-icon>
        <p class="empty-state-text">Henüz fotoğraf yüklenmemiş</p>
    </div>
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>