<section class="technology" aria-labelledby="technology-title">
    <div class="technology-content">
        <header class="section-header">
            <span class="subtitle" aria-label="Bölüm Kategorisi">TEKNOLOJİ</span>
            <h2 id="technology-title" class="title">Spor Ayakkabı Zirveye Ulaşıyor</h2>
        </header>

        <div class="features-grid" role="list">
            @for(feature of features; track feature) {
                <article class="feature-card" role="listitem">
                    <div class="feature-content">
                        <figure class="feature-image">
                            <img 
                                ngSrc="{{feature.image}}" 
                                [alt]="feature.altText" 
                                fill
                                loading="lazy">
                        </figure>
                    </div>
                </article>
            }
        </div>
    </div>
</section>