<section class="technology">
    <div class="technology-content">

        <div class="section-header">
            <span class="subtitle">TEKNOLOJİ</span>
            <h2 class="title">Spor Ayakkabı Zirveye Ulaşıyor</h2>
        </div>

        <div class="features-grid">
            @for(feature of features; track feature) {
                <div class="feature-card">
                    <div class="feature-content">
                        <div class="feature-image">
                            <img ngSrc="{{feature.image}}" [alt]="feature.altText" fill>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>